

.topnav{
margin:0;
width:100%;
background-color: gainsboro;
}



li a {
float:right;
padding: 15px 15px 20px 5px;

text-align: center;
text-decoration: none;

}



.topnav ol {
    list-style-type: none;
}




 li {
    display: inline;
}
 .active{
     float:left;
 }





